body {
    font-family: 'Kranky', cursive;
}
.bkgr-color {
    background-color: #ffe4c4;
}
/* Navegador */
.navbar {
    background-color: #ecdae6;
    color: white;
    width: 100%;
    height: 4em;
    display: flex;
}
.title {
    font-size: 24px;
    text-align: center;
    text-shadow: 3px 2px #abe188;
    position: relative;
    float: left;
}
.mobile-menu { 
    position: relative;
    float: right;
}
.lado-izquierdo {
    display: none;
}
.lado-izquierdo a {
    color: #ffffff;
    font-size: 22px;
    text-decoration: none;
    text-shadow: 3px 2px #abe188;
    padding: 6px;
    margin: 3px;
}
/* Primera Sección*/
.principal-image {
    background-image: url('../assets/img/marshmallow.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
}
.principal-title {
    color: #ffffff;
    display: flex;
    font-size: 55px;
    text-align: center;
    text-shadow: 3px 2px #ffc8c3;
    position: relative;
}
/* Segunda sección */
.text {
    color: black;
    padding: 50px;
    text-align: left;
    text-shadow: 3px 2px #ffffff;
}
.first {
    background-image: url('../assets/img/first.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 390px;
    height: 200px;
}
.second {
    background-image: url('../assets/img/second.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 390px;
    height: 200px;
}
.third {
    background-image: url('../assets/img/third.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 390px;
    height: 200px;
}
.btn {
    background-color: #e8f8ef;
    border: 2px dotted #cfe9dc;
    color: black;
    font-family: 'kranky', cursive;
    font-size: 20px;
    padding: 5px;
    text-shadow: 2px 1px #ffffff;
}

/* pie de pagina */
.pie-pagina {
    background-color: #abe188;
    color: #ffffff;
    width: 100%;
    height: 50px;
    text-shadow: 2px 1px black;
    text-align: center;
}

/* mobile */
@media (min-width: 768px) {
    .principal-image {
        height: 320px;
    }
    .principal-title {
        font-size: 50px;
        text-align: center;
        text-shadow: 2px 1px #ffc8c3;
    }
}
/* desktop */
@media (min-width: 992px) {
    .mobile-menu {
        display: none;
    }
    .lado-izquierdo {
        display: inline-flex;
        position: relative;
        list-style: none;
        float: right;
    }
    .principal-image {
        height: 400px;
    }
    .principal-title {
        font-size: 82px;
        text-align: center;
        text-shadow: 2px 1px #ffc8c3;
    }
}

