body {
    font-family: 'Kranky', cursive;
}
/*Clases reutilizables*/
.encabezado {
    background-color: #ecdae6;
    height: 100px;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    z-index: 1000;
}
.mobile-menu {
    display: none;
}
.lado-izquierdo {
    display: inline-flex;
    list-style: none;
    float: right;
}
.principal-image {
    background-image: url('../assets/img/marshmallow.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}
.principal-title {
    color: #ffffff;
    display: flex;
    font-size: 55px;
    text-shadow: 3px 2px black;
    position: absolute;
    left: 20%;
    top: 25%;
    
}
.bckgr-color {
    background-color: #b5eecd;
}
.text {
    background-color: #ffe4c4;
    padding: 50px;
    text-align: left;
    line-height: 1.30;
}
.pie-pagina {
    background-color: #abe188;
    color: #ffffff;
    width: 100%;
    height: 50px;
}